.submenu_items .submenu_items__item{
	float:left;
	height:80px;
	width:9%;
	padding-left:1%;
}

.submenu_items {
	height: auto;
	padding-bottom:10px;
	margin-top: 0px;
	overflow:visible;
	width:auto;
	position:relative;
	z-index: 100;
}

.submenu_items__short {
	margin-right:0px;
}

.submenu_items .submenu_items__item {
	height:26px;
	padding-top:3px;
	padding-left:14px;
    padding-right: 23px;
	width:auto;
	position:relative;
	margin-right: 0px;
	z-index: 101;
}

.submenu_items__item a {
	display: block;
	float:left;
	font: bold 13px Arial, Tahoma, Sans-Serif;
}

.submenu_items__item a.submenu_items__item-link:link,
.submenu_items__item a.submenu_items__item-link:visited {
	text-decoration: none;
	border-bottom: 1px solid #037DD3
}
.submenu_items__item a.submenu_items__item-link:hover,
.submenu_items__item a.submenu_items__item-link:active {
	text-decoration: none;
}

.submenu_items__item a {
	color:#037dd3;
} 

.submenu_items .submenu_items__item-current {
	background: url("../images/menus/curbg.png") repeat-x scroll 0 0 #F38500;
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 14px;
    margin-left: 8px;
	padding-top: 0px;
	height: 28px;
    margin-bottom: 1px;
}

.submenu_items .submenu_items__item-current .submenu_items__item-link {
	color:#fff;
	text-decoration: none;
}

.submenu_items__item-current-pad {
	overflow: hidden;
	height: 28px;
	position: relative;
	padding-left: 8px;
	padding-right: 7px;
}

.submenu_items__item-current a.submenu_items__item-link {
	text-decoration: none;
	border: none;
}

.submenu_items__item-current a.submenu_items__item-link.with_subs {
}


.submenu_items__item-current-l,
.submenu_items__item-current-r {
	position:absolute;
	top: 0;
	height: 32px;
	width: 5px;
	z-index: 100;
} 

.submenu_items__item-current-l {
	background: url("../images/menus/submenu-left-cur.png") no-repeat scroll 0 0 transparent;
    left: 0;
}

.submenu_items__item-current-r {
	background: url("../images/menus/submenu-right-cur.png") no-repeat scroll 0 0 transparent;
    right: 0;
}

.submenu_items .submenu_items__item-current a.submenu_items__item-link {
	height: 24px;
	line-height: 21px; 
	border: none;
}

.submenu_items__item-hover {
	z-index: 1000 !important;
}

.submenu_items__item-hover .submenu_items__item-current-l {
	background-image: url(../images/menus/submenu-left-cur-.png);
}
.submenu_items__item-hover .submenu_items__item-current-r {
	background-image: url(../images/menus/submenu-right-cur-.png);
}
.submenu_items__item-hover .submenu_items__item-current-bottom {
	background-image: url(../images/menus/botcur-.png);
}

.submenu_items__item-current-bottom {
	background: url("../images/menus/botcur.png") no-repeat scroll center bottom transparent;
	height: 9px;
	width: 100%;
	position: absolute;
	bottom: -3px;
	left: 0px;
	z-index: 1;
}
